---
import Container from "../../components/Container.astro";
import MenuLayout from "../../layouts/MenuLayout.astro";
import MenuNav from "../../components/menu/MenuNav.astro";

const currentPage = "/menu/CocktailMenu";

const beerMenu = [
  {
    title: "Sierra Nevada Pale Ale",
    price: "$4",
    description:
      "An iconic West Coast Pale Ale with a balanced profile of piney hop bitterness and caramel malt sweetness, showcasing a crisp finish.",
  },
  {
    title: "Dogfish Head 90 Minute IPA",
    price: "$6",
    description:
      "A robust Imperial IPA with intense hop bitterness and a strong malt backbone, featuring notes of citrus, pine, and a hint of caramel.",
  },
  {
    title: "Founders All Day IPA",
    price: "4",
    description:
      "A session IPA designed for easy drinking with a light body and bright hop character, offering flavors of grapefruit, pine, and tropical fruit.",
  },
  {
    title: "New Belgium Fat Tire Amber Ale",
    price: "$4",
    description:
      "A classic amber ale with a smooth, malt-forward profile, featuring flavors of caramel, toffee, and a hint of hops for balance.",
  },
  {
    title: "Guinness Draught",
    price: "$5",
    description:
      "A creamy, nitrogen-infused stout known for its rich, smooth mouthfeel and flavors of roasted coffee, chocolate, and a touch of bitterness.",
  },
  {
    title: "Bells Two Hearted Ale",
    price: "$5",
    description:
      "A well-balanced American IPA with a focus on juicy, tropical hop flavors and a subtle malt sweetness, delivering a refreshing and flavorful experience.",
  },
  {
    title: "Lagunitas Little Sumpin' Sumpin' Ale",
    price: "$4",
    description:
      "A unique American Pale Wheat Ale with a hoppy, citrusy profile and a smooth, slightly fruity finish, perfect for a refreshing drink.",
  },
  {
    title: "The Bruery Terreux – Saison Rue",
    price: "$8",
    description:
      "A farmhouse saison with a complex blend of earthy, fruity, and spicy flavors, featuring notes of citrus zest, peppercorns, and a dry, effervescent finish.",
  },
];

const wineMenu = [
  {
    title: "Frey Vineyards Organic Chardonnay",
    price: "$6",
    description:
      "A bright and refreshing Chardonnay with notes of green apple, pear, and a hint of citrus. Its clean finish and balanced acidity make it a versatile choice.",
  },
  {
    title: "Cedar Brook Sauvignon Blanc",
    price: "$6",
    description:
      "A crisp Sauvignon Blanc with vibrant citrus notes of grapefruit and lime, complemented by hints of fresh herbs and a refreshing finish.",
  },
  {
    title: "The Vegan Vine Cabernet Sauvignon",
    price: "$6",
    description:
      "A full-bodied red with rich flavors of dark berries, black currant, and a touch of oak. This Cabernet Sauvignon offers a smooth, velvety texture and a long, satisfying finish.",
  },
  {
    title: "La Crema Sonoma Coast Pinot Noir",
    price: "$6",
    description:
      "A delicate Pinot Noir with layers of red cherry, raspberry, and subtle earthy undertones. Its light tannins and balanced acidity make it a great pairing with a variety of dishes.",
  },
];

const cocktailMenu = [
  {
    title: "Classic Margarita",
    price: "$6",
    description:
      "A timeless blend of tequila, triple sec, and freshly squeezed lime juice, served on the rocks with a salted rim. Refreshingly tart with a perfect balance of citrus and tequila.",
  },
  {
    title: "Old Fashioned",
    price: "$8",
    description:
      "A sophisticated mix of bourbon, sugar, and bitters, garnished with an orange twist and a cherry. A well-balanced cocktail with deep flavors of whiskey, caramel, and subtle bitters.",
  },
  {
    title: "Mojito",
    price: "$8",
    description:
      "A refreshing Cuban classic made with white rum, fresh mint leaves, lime juice, sugar, and soda water. Crisp and invigorating, with a burst of mint and citrus.",
  },
  {
    title: "Whiskey Sour",
    price: "$8",
    description:
      "A simple yet elegant mix of whiskey, fresh lemon juice, and a touch of simple syrup, shaken and served over ice. Garnished with a cherry, it’s a delightful blend of tart and sweet.",
  },
  {
    title: "Mai Tai",
    price: "$8",
    description:
      "A tropical classic with rum, orange curaçao, lime juice, and a touch of almond syrup. Garnished with a mint sprig and pineapple slice, it’s a perfect escape to paradise in a glass.",
  },
  {
    title: "Cosmopolitan",
    price: "$6",
    description:
      "A chic and stylish cocktail featuring vodka, triple sec, cranberry juice, and fresh lime juice. Shaken and served in a chilled martini glass with a lime twist, offering a tangy and sophisticated flavor.",
  },
];
---

<MenuLayout title="Menu | Cocktails" description="Cocktail Menu">
  <Container>
    <MenuNav currentPage={currentPage} />
    <div class="mx-4 my-16 md:m-16 lg:m-32">
      <!--beer menu -->
      <div class="my-4 w-full xl:w-1/2">
        <h1 class="mb-4">
          <span
            class="block text-4xl font-medium text-accent-400 dark:text-accent-500 lg:text-5xl"
          >
            Beer
          </span>
        </h1>

        <div
          class="text-justify text-lg text-gray-400 dark:text-gray-200 md:text-2xl"
        >
          <p>
            Explore our curated selection of craft beers, each offering unique
            flavors and character. Whether you’re a fan of hoppy IPAs, rich
            stouts, or crisp lagers, we have something for every palate.
          </p>
        </div>
      </div>

      <div class="grid grid-cols-1 gap-x-16 lg:grid-cols-2">
        {
          beerMenu.map((item) => (
            <div class="px-2 py-8">
              <div class="flex flex-row items-start justify-between">
                <h2 class="block text-2xl font-medium text-gray-500 dark:text-secondary-500 lg:text-3xl">
                  {item.title}
                </h2>
                <h3 class="block text-3xl font-medium text-gray-600 dark:text-gray-300">
                  {item.price}
                </h3>
              </div>
              <div>
                <p class="block w-5/6 text-lg font-light text-gray-600 dark:text-gray-200">
                  {item.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>

      <!--wines menu -->
      <div class="my-4 w-full xl:w-1/2">
        <h1 class="mb-4">
          <span
            class="block text-4xl font-medium text-accent-400 dark:text-accent-500 lg:text-5xl"
          >
            Wine
          </span>
        </h1>

        <div
          class="text-justify text-lg text-gray-400 dark:text-gray-200 md:text-2xl"
        >
          <p>
            Discover our thoughtfully curated selection of vegan wines, each
            crafted without animal-derived fining agents. From crisp whites to
            bold reds, these wines offer a delightful array of flavors to
            complement your meal.
          </p>
        </div>
      </div>

      <div class="grid grid-cols-1 gap-x-16 lg:grid-cols-2">
        {
          wineMenu.map((item) => (
            <div class="px-2 py-8">
              <div class="flex flex-row items-start justify-between">
                <h2 class="block text-2xl font-medium text-gray-500 dark:text-secondary-500 lg:text-3xl">
                  {item.title}
                </h2>
                <h3 class="block text-3xl font-medium text-gray-600 dark:text-gray-300">
                  {item.price}
                </h3>
              </div>
              <div>
                <p class="block w-5/6 text-lg font-light text-gray-600 dark:text-gray-200">
                  {item.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>

      <!--cocktail menu -->
      <div class="my-4 w-full xl:w-1/2">
        <h1 class="mb-4">
          <span
            class="block text-4xl font-medium text-accent-400 dark:text-accent-500 lg:text-5xl"
          >
            Cocktails
          </span>
        </h1>

        <div
          class="text-justify text-lg text-gray-400 dark:text-gray-200 md:text-2xl"
        >
          <p>
            Enjoy our selection of expertly crafted cocktails, each designed to
            offer a refreshing and memorable drinking experience. From classic
            favorites to innovative creations, there's something for everyone.
          </p>
        </div>
      </div>

      <div class="grid grid-cols-1 gap-x-16 lg:grid-cols-2">
        {
          cocktailMenu.map((item) => (
            <div class="px-2 py-8">
              <div class="flex flex-row items-start justify-between">
                <h2 class="block text-3xl font-medium text-gray-500 dark:text-secondary-500">
                  {item.title}
                </h2>
                <h3 class="block text-3xl font-medium text-gray-600 dark:text-gray-300">
                  {item.price}
                </h3>
              </div>
              <div>
                <p class="block w-5/6 text-lg font-light text-gray-600 dark:text-gray-200">
                  {item.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </Container>
</MenuLayout>
